@ichifarm:registry=https://npm.pkg.github.com
TOKEN = TOKEN // Change this 
always-auth=true
registry=https://npm.pkg.github.com/ichifarm
_authToken=TOKEN
//npm.pkg.github.com:_authToken=TOKEN

# @supremesingh:registry=https://npm.pkg.github.com