name: Tests

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 12.20.0

      - id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            yarn-

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      # This is required separately from yarn test because it generates the typechain definitions
      - name: Build
        run: yarn build
        env: 
          INFURA_API_KEY: none
          MAINNET_PK: ${{ secrets.TESTNET }}
          TESTNET_PK: ${{ secrets.TESTNET }}
          ETHERSCAN_API_KEY: none
          COINMARKETCAP_API_KEY: none


      - name: Run unit tests
        run: yarn test
        env: 
          INFURA_API_KEY: none
          MAINNET_PK: ${{ secrets.TESTNET }}
          TESTNET_PK: ${{ secrets.TESTNET }}
          ETHERSCAN_API_KEY: none
          COINMARKETCAP_API_KEY: none